# Update this file from a profile with:
# curl -O https://raw.githubusercontent.com/open-contracting/standard_profile_template/master/common-requirements.txt

# 1.5.2 breaks the translation of the sidebar menu
Sphinx==1.5.1

# Sphinx
ocds-babel>=0.0.2
# The next commit causes "'any' reference target not found" errors
-e git+https://github.com/rtfd/recommonmark.git@81d7c6f7b37981ac22571dd91a7cc9d24c3e66a1#egg=recommonmark
-e git+https://github.com/open-contracting/standard_theme.git@open_contracting#egg=standard_theme

# Make
sphinx-intl<1
transifex-client

# Profile
ocdsextensionregistry>=0.0.5
