Sphinx<3

# Sphinx
ocds-babel>=0.2.1
# See https://ocds-babel.readthedocs.io/en/latest/api/translate.html#install-requirements-for-markdown-translation
-e git+https://github.com/readthedocs/commonmark.py.git@dafae75015cc342f3fddb499674bab97ac4a6a96#egg=commonmark
-e git+https://github.com/jpmckinney/recommonmark.git@hotfix#egg=recommonmark
-e git+https://github.com/open-contracting/standard_theme.git@open_contracting#egg=standard_theme

# Make
sphinx-intl<1
transifex-client

# Build
ocdsindex>=0.0.4

# Profile
ocdsextensionregistry>=0.0.23

# Tests
pytest
selenium
