# https://github.com/executablebooks/MyST-Parser/issues/331
-e git+https://github.com/jpmckinney/MyST-Parser.git@heading_slug_func#egg=myst-parser
linkify-it-py
ocds-babel
Sphinx
pydata-sphinx-theme

# Profile
ocdsextensionregistry

# Build
sphinx-intl
transifex-client

# Deploy
ocdsindex

# Tests
pytest
selenium

# Development
pip-tools
