linkify-it-py
myst-parser
ocds-babel
Sphinx
-e git+https://github.com/open-contracting/standard_theme.git@open_contracting#egg=standard_theme

# Profile
ocdsextensionregistry

# Translations
sphinx-intl

# Deploy
ocdsindex

# Tests
pytest
selenium

# Development
click
pip-tools
sphinx-autobuild
