Babel==2.2.0
CommonMark==0.5.4 # rq.filter: <=0.5.4
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
Pygments==2.1.1
Sphinx==1.3.5
alabaster==0.7.7
click==6.3
docutils==0.12
-e git://github.com/open-contracting/jsonmerge.git@7d1506cef4a6de534ff6ebfaa4a412ffee771630#egg=jsonmerge
jsonpointer==1.10
jsonschema==2.5.1
path.py==8.1.2
polib==1.0.7
py==1.4.31
pytest==2.8.7
pytz==2015.7
-e git+https://github.com/OpenDataServices/recommonmark.git@1b19030dd33671affaa6f1a6168c1e4d0c6b984e#egg=recommonmark
six==1.10.0
snowballstemmer==1.2.1
sphinx-intl==0.9.9
-e git+https://github.com/open-contracting/standard_theme.git@open_contracting#egg=standard_theme
transifex-client==0.11
