-r common-requirements.txt

# Add your own requirements below.

-e git+https://github.com/open-contracting/sphinxcontrib-opencontracting.git@dcc32a5f5556e9f4953d98467eaa9ee00092f753#egg=sphinxcontrib-opencontracting
-e git+https://github.com/OpenDataServices/sphinxcontrib-jsonschema.git@75e4427b0f6f6a23dff9019aeb5d64833aab104a#egg=sphinxcontrib-jsonschema
-e git+https://github.com/OpenDataServices/sphinxcontrib-opendataservices.git@fab0ff0167d32ec243d42f272e0e50766299c078#egg=sphinxcontrib-opendataservices

# utils/fetch_currency_codelist.py
