Babel==2.2.0
CommonMark==0.5.4 # rq.filter: <=0.5.4
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
Pygments==2.1.1
# sphinx commit pinned from stable branch
-e git+https://github.com/sphinx-doc/sphinx.git@95583428f5d2fd93c9def52bba028d2cefd930d5#egg=Sphinx
alabaster==0.7.7
click==6.3
docutils==0.12
-e git://github.com/open-contracting/jsonmerge.git@7d1506cef4a6de534ff6ebfaa4a412ffee771630#egg=jsonmerge
jsonpointer==1.10
jsonschema==2.5.1
path.py==8.1.2
polib==1.0.7
py==1.4.31
pytest==2.8.7
pytz==2015.7
# recommonmark commit pinned from master branch
-e git+https://github.com/rtfd/recommonmark.git@b70d5f52245d6714054e2d8f871ac6449bd980f8#egg=recommonmark
requests==2.9.1
requests-mock==0.7.0
six==1.10.0
snowballstemmer==1.2.1
sphinx-intl==0.9.9
-e git+https://github.com/open-contracting/standard_theme.git@open_contracting#egg=standard_theme
transifex-client==0.11
json-merge-patch
-e git+https://github.com/OpenDataServices/flatten-tool.git@400336bfcfa0feeded14ce1e66f7c817ef2a7652#egg=flattentool
-e git+https://github.com/OpenDataServices/sphinxcontrib-jsonschema.git@6ae802e8b094e47465766e0eca692774a393b7e7#egg=sphinxcontrib-jsonschema
.
