.hide {
  display: None;
  margin-bottom: 10px !important
}
  
.extension_url {
    width:70%;
}

.extension-selector-table td:first-child {
    cursor: pointer
}

.extension-selector-table td:first-child::after {
    content: url('../../assets/empty_checkbox.png');
}

.extension-selector-table td.extension-selected:first-child::after {
    content: url('../../assets/checked_checkbox.png');
}
