div.spaced li {
  margin-bottom: 1em;
}

.directive--field-description,
.directive--code-description {
  font-style: italic;
}

/* Extensions */
.hide {
  display: none;
}

.community-list {
  margin-top: 1em;
}

/* Media */
@media only print {
    .wy-table-responsive {
        overflow: visible !important;
    }
}

/* renderjson.js */
pre.renderjson { overflow: scroll; font-size:smaller; border: 1px solid grey;}
.renderjson a { text-decoration: none; }
.renderjson .disclosure { color: crimson; font-size: 150%; }
.renderjson .syntax { color: grey; }
.renderjson .string { color: darkred; }
.renderjson .number { color: darkcyan; }
.renderjson .boolean { color: blueviolet; }
.renderjson .key    { color: darkblue; }
.renderjson .keyword { color: blue; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: orange; }
