name: Lint
on: [push, pull_request]
env:
  BASEDIR: https://raw.githubusercontent.com/open-contracting/standard-maintenance-scripts/master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('.github/workflows/lint.yml') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - run: curl -s -S --retry 3 $BASEDIR/tests/install.sh | bash -
    - run: curl -s -S --retry 3 $BASEDIR/tests/script.sh | bash -
